<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Checkbox</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Padrão</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Desabilitado</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Marcado</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Desabilitado + Marcado</ion-label>
    <ion-checkbox disabled="true" checked="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Cor: Primary</ion-label>
    <ion-checkbox color="primary"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Cor: Secondary</ion-label>
    <ion-checkbox color="secondary"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Cor: Danger</ion-label>
    <ion-checkbox color="danger"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Cor: Dark</ion-label>
    <ion-checkbox color="dark"></ion-checkbox>
  </ion-item>

  <h3>Meses</h3>
  <ion-list>
    <ion-item *ngFor="let mes of meses">
      <ion-label>{{mes.nomeMes}}</ion-label>
      <ion-checkbox checked="{{mes.marcado}}" [(ngModel)]="mes.marcado" color="danger"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="exibirMeses()">Exibir meses marcados</ion-button>

</ion-content>
