<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="assets/animate.png" class="animated infinite bounce">
  <img src="assets/animate.png" class="animated infinite shake">
  <img src="assets/animate.png" class="animated infinite bounceInLeft">
  <img src="assets/animate.png" class="animated infinite bounceOutDown">
  <img src="assets/animate.png" class="animated infinite fadeIn">
  <img src="assets/animate.png" class="animated infinite fadeInLeftBig">
  <img src="assets/animate.png" class="animated infinite fadeInUpBig">
  <img src="assets/animate.png" class="animated infinite fadeOutLeft">
  <img src="assets/animate.png" class="animated infinite fadeOutUp">
  <img src="assets/animate.png" class="animated infinite flipOutX">
  <img src="assets/animate.png" class="animated infinite rotateIn">
  <img src="assets/animate.png" class="animated infinite rotateInUpRight">
  <img src="assets/animate.png" class="animated infinite rotateOutUpLeft">
  <img src="assets/animate.png" class="animated infinite rollIn">
  <img src="assets/animate.png" class="animated infinite zoomInLeft">
  <img src="assets/animate.png" class="animated infinite zoomOutDown">
  <img src="assets/animate.png" class="animated infinite slideInDown">
  <img src="assets/animate.png" class="animated infinite slideOutDown">
  <img src="assets/animate.png" class="animated infinite heartBeat">
  <img src="assets/animate.png" class="animated infinite flash">
  <img src="assets/animate.png" class="animated infinite headShake">
  <img src="assets/animate.png" class="animated infinite jello">
  <img src="assets/animate.png" class="animated infinite bounceInRight">
  <img src="assets/animate.png" class="animated infinite bounceOutLeft">
  <img src="assets/animate.png" class="animated infinite fadeInDown">
  <img src="assets/animate.png" class="animated infinite fadeInRight">
  <img src="assets/animate.png" class="animated infinite fadeOut">
  <img src="assets/animate.png" class="animated infinite fadeOutLeftBig">
  <img src="assets/animate.png" class="animated infinite fadeOutUpBig">
  <img src="assets/animate.png" class="animated infinite flipOutY">
  <img src="assets/animate.png" class="animated infinite rotateInDownLeft">
  <img src="assets/animate.png" class="animated infinite rotateOut">
  <img src="assets/animate.png" class="animated infinite rotateOutUpRight">
  <img src="assets/animate.png" class="animated infinite rollOut">
  <img src="assets/animate.png" class="animated infinite zoomInRight">
  <img src="assets/animate.png" class="animated infinite zoomOutLeft">
  <img src="assets/animate.png" class="animated infinite slideInLeft">
  <img src="assets/animate.png" class="animated infinite slideOutLeft">
  <img src="assets/animate.png" class="animated infinite pulse">
  <img src="assets/animate.png" class="animated infinite swing">
  <img src="assets/animate.png" class="animated infinite bounceIn	">
  <img src="assets/animate.png" class="animated infinite bounceInUp">
  <img src="assets/animate.png" class="animated infinite bounceOutRight">
  <img src="assets/animate.png" class="animated infinite fadeInDownBig">
  <img src="assets/animate.png" class="animated infinite fadeInRightBig">
  <img src="assets/animate.png" class="animated infinite fadeOutDown">
  <img src="assets/animate.png" class="animated infinite fadeOutRight">
  <img src="assets/animate.png" class="animated infinite flipInX">
  <img src="assets/animate.png" class="animated infinite lightSpeedIn">
  <img src="assets/animate.png" class="animated infinite rotateInDownRight">
  <img src="assets/animate.png" class="animated infinite rotateOutDownLeft">
  <img src="assets/animate.png" class="animated infinite hinge">
  <img src="assets/animate.png" class="animated infinite zoomIn">
  <img src="assets/animate.png" class="animated infinite zoomInUp">
  <img src="assets/animate.png" class="animated infinite zoomOutRight">
  <img src="assets/animate.png" class="animated infinite slideInRight">
  <img src="assets/animate.png" class="animated infinite slideOutRight">
  <img src="assets/animate.png" class="animated infinite rubberBand">
  <img src="assets/animate.png" class="animated infinite tada">
  <img src="assets/animate.png" class="animated infinite bounceInDown">
  <img src="assets/animate.png" class="animated infinite bounceOut">
  <img src="assets/animate.png" class="animated infinite bounceOutUp">
  <img src="assets/animate.png" class="animated infinite fadeInLeft">
  <img src="assets/animate.png" class="animated infinite fadeInUp">
  <img src="assets/animate.png" class="animated infinite fadeOutDownBig">
  <img src="assets/animate.png" class="animated infinite fadeOutRightBig">
  <img src="assets/animate.png" class="animated infinite flipInY">
  <img src="assets/animate.png" class="animated infinite lightSpeedOut">
  <img src="assets/animate.png" class="animated infinite rotateInUpLeft">
  <img src="assets/animate.png" class="animated infinite rotateOutDownRight">
  <img src="assets/animate.png" class="animated infinite jackInTheBox">
  <img src="assets/animate.png" class="animated infinite zoomInDown">
  <img src="assets/animate.png" class="animated infinite zoomOut">
  <img src="assets/animate.png" class="animated infinite zoomOutUp">
  <img src="assets/animate.png" class="animated infinite slideInUp">
  <img src="assets/animate.png" class="animated infinite slideOutUp">

</ion-content>