<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="https://www.resetera.com/data/avatars/m/6/6086.jpg"></ion-img>
    <ion-card-content>
      <ion-card-title>Jogo Bioshock</ion-card-title>
      <p>BioShock é um jogo eletrônico de tiro em primeira pessoa produzido pela Irrational Games (na altura, com o nome 2K Boston) e distribuído pela 2K Games.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vagas de emprego</ion-card-title>
      <ion-card-subtitle>Ionic 4</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precisamos de desenvolvedors com conhecimento em ionic 4.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Wifi ativo</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Bebida</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Alerta</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Pessoa</ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Vagas de emprego</ion-card-title>
      <ion-card-subtitle>Ionic 4</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precisamos de desenvolvedors com conhecimento em ionic 4.
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Vagas de emprego</ion-card-title>
      <ion-card-subtitle>Ionic 4</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Precisamos de desenvolvedors com conhecimento em ionic 4.
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary" mode="ios">
    <ion-card-header>
      <ion-card-title>IOS</ion-card-title>
      <ion-card-subtitle>Ionic 4</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Cartão modelo ios.
    </ion-card-content>
  </ion-card>

  <ion-card color="medium" mode="md">
    <ion-card-header>
      <ion-card-title>Android</ion-card-title>
      <ion-card-subtitle>Ionic 4</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Cartão modelo android.
    </ion-card-content>
  </ion-card>

</ion-content>
