<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - Css Utilities</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-start>
          <h3>text-start</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non.
        </div>
      </ion-col>
      
      <ion-col>
        <div text-end>
          <h3>text-end</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mauris nec dolor in eros commodo tempor.
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div text-justify>
          <h3>text-justify</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. Viva Forevis aptent taciti sociosqu ad litora torquent. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Quem manda na minha terra sou euzis!
        </div>
      </ion-col>      
        
      <ion-col>
        <div text-nowrap>
          <h3>text-nowrap</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. Viva Forevis aptent taciti sociosqu ad litora torquent.
        </div>
      </ion-col>
    </ion-row>
      
    <ion-row>        
      <ion-col>
        <div text-wrap>
          <h3>text-wrap</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pessoas mais interessantis.
        </div>
      </ion-col>
                
      <ion-col>
        <div text-center>
          <h3>text-center</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Per aumento de cachacis, eu reclamis. 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div text-left>
          <h3>text-start</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.
        </div>
      </ion-col>
      
      <ion-col>
        <div text-right>
          <h3>text-end</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-uppercase>
          <h3>text-uppercase</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non.
        </div>
      </ion-col>
      
      <ion-col>
        <div text-lowercase>
          <h3>text-lowercase</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Detraxit consequat et quo num tendi nada. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mauris nec dolor in eros commodo tempor.
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div text-capitalize>
          <h3>text-capitalize</h3>
          Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. Viva Forevis aptent taciti sociosqu ad litora torquent. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Quem manda na minha terra sou euzis!
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-sm-center text-md-left text-lg-end text-xl-uppercase>
    <h3>Responsividade</h3>
  </div>

  <h3>Usando padding</h3>
  <!-- <ion-grid>
    <ion-row>
      <ion-col padding>
        <div>padding</div>
      </ion-col>
      <ion-col padding-top>
        <div>padding-top</div>
      </ion-col>
      <ion-col padding-start>
        <div>padding-top</div>
      </ion-col>
      <ion-col padding-end>
        <div>padding-end</div>
      </ion-col>      
      <ion-col padding-bottom>
        <div>padding-bottom</div>
      </ion-col>        
      <ion-col padding-vertical>
        <div>padding-vertical</div>
      </ion-col>        
      <ion-col padding-horizontal>
        <div>padding-hoizontal</div>
      </ion-col>        
      <ion-col no-padding>
        <div>no-padding</div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <img src="assets/margin.png"/>  

  <h3>Usando margin</h3>
  <!-- <ion-grid>
    <ion-row>
      <ion-col margin>
        <div>margin</div>
      </ion-col>
      <ion-col margin-top>
        <div>margin-top</div>
      </ion-col>
      <ion-col margin-start>
        <div>margin-top</div>
      </ion-col>
      <ion-col margin-end>
        <div>margin-end</div>
      </ion-col>      
      <ion-col margin-bottom>
        <div>margin-bottom</div>
      </ion-col>        
      <ion-col margin-vertical>
        <div>margin-vertical</div>
      </ion-col>        
      <ion-col margin-horizontal>
        <div>margin-hoizontal</div>
      </ion-col>        
      <ion-col no-margin>
        <div>no-margin</div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <img src="assets/padding.png"/>

</ion-content>
