<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Spinner</ion-title>
  </ion-toolbar>
</ion-header>
  

<ion-content padding>

  <ion-item>
    <ion-label>Padrão</ion-label>
    <ion-spinner slot="start"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Lines</ion-label>
    <ion-spinner slot="start" name="lines"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Lines Small</ion-label>
    <ion-spinner slot="start" name="lines-small"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Dots</ion-label>
    <ion-spinner slot="start" name="dots"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Bubbles</ion-label>
    <ion-spinner slot="start" name="bubbles"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Circles</ion-label>
    <ion-spinner slot="start" name="circles"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Crescent</ion-label>
    <ion-spinner slot="start" name="crescent"></ion-spinner>
  </ion-item>
  <ion-item>
    <ion-label>Paused</ion-label>
    <ion-spinner slot="start" paused></ion-spinner>    
  </ion-item>
  
</ion-content>
